// primary colors
$primary50: #f3f8fc;
$primary100: #e6f0f8;
$primary200: #c8e0ef;
$primary300: #97c7e2;
$primary400: #60a9d0;
$primary500: #3b8ebc;
$primary600: #2b729e;
$primary700: #22577a;
$primary800: #214e6b;
$primary900: #20425a;

// grey colors
$grey50: #f7f7f7;
$grey100: #e3e3e3;
$grey200: #c8c8c8;
$grey300: #a4a4a4;
$grey400: #818181;
$grey500: #666666;
$grey600: #515151;
$grey700: #474747;
$grey800: #383838;
$grey900: #313131;

$secondary50: #f1fcf7;
$secondary100: #d1f6e9;
$secondary200: #a3ecd3;
$secondary300: #a3ecd3;
$secondary400: #3ab795;
$secondary500: #26a685;
$secondary600: #1b866c;
$secondary700: #1a6b59;
$secondary800: #195649;
$secondary900: #19483e;

// typography
$whiteText: #ffffff;

:export {
  // primary colors
  primary50: $primary50;
  primary100: $primary100;
  primary200: $primary200;
  primary300: $primary300;
  primary400: $primary400;
  primary500: $primary500;
  primary600: $primary600;
  primary700: $primary700;
  primary800: $primary800;
  primary900: $primary900;

  // grey colors
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey400: $grey400;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey800: $grey800;
  grey900: $grey900;

  // secondary colors
  secondary50: $secondary50;
  secondary100: $secondary100;
  secondary200: $secondary200;
  secondary300: $secondary300;
  secondary400: $secondary400;
  secondary500: $secondary500;
  secondary600: $secondary600;
  secondary700: $secondary700;
  secondary800: $secondary800;
  secondary900: $secondary900;

  // typography
  whiteText: $whiteText;
}
